html {
	font-size: 10px;	
	font-family: 'Skranji', cursive;
	background-color: #FF9500;
}


h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

p, li {
  font-size: 30px;    
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
  weight: 500px;
  height: 500px;
}
